{% extends 'base.html' %}
{% block title %}Modify Reservation - {% endblock %}
{% block content %}
<div class="bg-gray-100 w-100">
    <div class="container mx-auto pt-2 pb-4 w-100">
        <h2 class="text-2xl font-bold mb-2 text-center">Room Availability</h2>

        <form class="form-row p-2 d-flex flex-column justify-content-center " method="POST" action="/ubstudyhall/reserve/" id="reserve">
            {% csrf_token %}
            <input type="hidden" name="reservation_id" value="{{reservation_id}}">
            <div class="mb-3 mx-auto w-96">
                <label for="reservation_date" class="form-label">Select Date:</label>
                <input type="date" class="form-control " id="reservation_date" name="reservation_date" required {% if reservation_date %} value="{{reservation_date}}" {% endif %}>
            </div>
            <div class="mb-3 mx-auto w-96">
                <label for="reservation_time" class="form-label">Select Time:</label>
                <select class="form-control" id="reservation_time" name="reservation_time" required>
                    <option>Select Time Slot</option>
                    <!-- Generating time slots from 5:00 AM to 12:00 PM -->
                    {% for hour in timings %}
                        <option value="{{hour}}" {% if hour == reservation_time %} selected {% endif %}>{{ hour }}</option>
                    {% endfor %}
                </select>
            </div>
                <button class="btn btn-primary col mx-auto mb-3" value="Check Availability" onclick="submitForm('reserve')">Check Availability</button>
        </form>
        <form method="POST" action="/ubstudyhall/modify-reservation/" id="room" class="mx-auto">
            <input type="hidden" name="reservation_id" value="{{reservation_id}}">
            <input type="hidden" name="reservation_date" value="{{reservation_date}}">
            <input type="hidden" name="reservation_time" value="{{reservation_time}}">
            {% csrf_token %}
            {% if available_rooms %}
                <div class="p-4 mx-auto text-center">
                    <h3 class="text-lg font-semibold mb-2">Available Rooms</h3>
                    <table class="w-96 mx-auto">
                        <tbody>
                            {% for room in available_rooms %}
                                <tr class="">
                                    <td class="border px-4 py-2">Room {{room}}</td>
                                    <td class="border px-4 py-2"><button class="btn btn-primary" value="Reserve" name="reserve_{{room}}" onclick="submitForm('room')">Reserve</button></td>
                                </tr>
                            {% endfor %}
                            <!-- Add more rooms here -->
                        </tbody>
                    </table>
                </div>
            {% endif %}
        </form>

        

    
    <script type="text/javascript">
        function submitForm(formId) {
            document.getElementById(formId).submit();
        }
    </script>
</div>
{% endblock %}

